# Rust
target/
**/*.rs.bk
Cargo.lock

# Node.js
node_modules/
dist/
dist-ssr/
*.local
.npm
.eslintcache

# Vite
.vite/

# Test Results
test_results.json

# Local Environment
.env
.env.[^example]*
!.env.example

# Editor
.idea/
.vscode/
*.swp
*.swo
*.sublime-project
*.sublime-workspace

# OS
.DS_Store
Thumbs.db
Desktop.ini
